# Credentials configuration
# seperated out from other configuration to prevent accidental sharing

rmap_auth = {
    'type': 'Basic',
    'username': 'rmapUser',
    'password': 'rmapPass',
}

monitor_auth = {
    'username': 'monitorUser',
    'password': 'monitorPass',
}
